Django==1.11.4
django-appconf==1.0.2
django-contrib-comments==1.8.0
django-crispy-forms==1.7.0
django-formtools==2.1
django-import-export==0.5.1
django-model-utils==3.0.0
django-pure-pagination==0.3.0
django-reversion==2.0.10
django-simple-captcha==0.5.5
django-users2==0.2.1
PyMySQL==0.7.11
requests==2.18.2
requests-oauthlib==0.8.0
Scrapy==1.4.0
scrapy-djangoitem==1.1.1
selenium==3.4.3
six==1.11.0