<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>注册</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/result.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/1118houseSecond.css' %}">
</head>
<body>
<div id="hd" class="ue-clear">

    <div class="inputArea">
        <div id="main" class="wrapper style1">
            <div class="container">
                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        <caption>注册</caption>
                        {{ register_form.as_table }}
                    </table>
                    <input type="submit" value="登录">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>